<nav>
  <div class="brand">
    <a routerLink="/students" style="font-weight: bold; font-size: 1.2rem;">Training Center App</a>
  </div>
  <div class="nav-links">
    <a routerLink="/students">Students</a>
    <a routerLink="/instructors">Instructors</a>
    <a routerLink="/courses">Courses</a>

    @if (authService.isLoggedIn()) {
      <a routerLink="/enrollments/new">Enrollment</a>
      <button (click)="logout()">Logout</button>
    } @else {
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    }
  </div>
</nav>